<!DOCTYPE html>
<html>

<head>
  <title>2019 Top 100 Geospatial Companies and Startups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <!-- Airship-->
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-style/v1.0.3/airship.css">
  <link rel="stylesheet" href="https://libs.cartocdn.com/airship-icons/v1.0.3/icons.css">
  <script src="https://libs.cartocdn.com/airship-components/v1.0.3/airship.js"></script>

  <!-- Mapbox GL and CARTO VL -->
  <script src="https://libs.cartocdn.com/carto-vl/v1.1.1/carto-vl.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css" rel="stylesheet" />


  <!-- vue -->
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>

  <!-- custom styles-->
  <link rel="stylesheet" href="./assets/styles.css">
</head>

<body class="as-app-body">
  <div id="app" class="as-app">
    <header class="as-toolbar">

      <button onclick="_toggleDrawer()" class="as-toolbar__item as-toolbar__toggle">
        <i class="as-icon-hamburguer as-title as-m--0"></i>
      </button>

      <div class="as-toolbar__group">
        <div class="as-toolbar__item">
          <img src="https://carto.com/developers/airship/reference/imported_content/examples/layouts/common/logo.svg"
            alt="CARTO LOGO">
        </div>

        <nav class="as-toolbar__actions">
          <ul>
            <li class="as-toolbar__item">
              <a href="#" onclick="_toggleAbout()">About</a>
            </li>
            <li class="as-toolbar__item">
              <a :href="twitterLink">
                <i class="as-icon-twitter as-subheader as-m--0"></i>
                <span class="as-toolbar__icon-text">Twitter</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <as-responsive-content>
      <main class="as-main">
        <div class="as-map-area">
          <div id="map" style="width:100%"></div>
        </div>
        <footer class="as-map-footer" style="min-height: 30vh;" data-name="Companies" data-tab-order="2">
          <section class="as-p--4" style="overflow: auto">
            <table class="as-table as-table--stripped companies" v-if="companiesData != null">
              <tr>
                <th style="min-width: 150px;">Name</th>
                <th>Location</th>
                <th>Founded</th>
                <th>Summary</th>
              </tr>
              <tr v-for="company in companiesData" v-bind:class="{ selected : isSelected(company.cartodb_id) }"
                v-on:mouseOver="selectedCompany = company"
                v-on:mouseOut='selectedCompany = null'>
                <td>
                  <a target="_blank" :href="'https://twitter.com/' + company.twitter ">
                    <i class="as-icon-twitter"></i>
                  </a>
                  {{ company.name }}
                </td>
                <td>{{ company.location }} </td>
                <td>{{ company.founded_year }} </td>
                <td>{{ company.summary }} </td>
              </tr>
            </table>
          </section>
        </footer>
        <div class="as-map-panels" data-name="Legend" data-tab-order="3">
          <div class="as-panel as-panel--top as-panel--right">
            <div class="as-panel__element as-p--8" v-if="companiesData != null">
              <p class="as-body as-mb--16">
                <span class="as-title">{{companiesCount}}</span> companies
              </p>
              <div id="controls">
                <h3 class="as-subheader">Companies<br /> per point</h3>
                <div class="legend">
                  <span v-for="color in colors" :style="{backgroundColor: color.color}">
                    {{color.size}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="js-about js-about--hidden">
          <div class="as-modal">
            <div class="as-modal__content">
              <h1 class="as-title">About this dashboard</h1>
              <p class="as-body">Some content</p>
              <button onclick="_toggleAbout()" class="as-btn as-btn--primary"> Close</button>
            </div>
          </div>
        </div>
      </main>
    </as-responsive-content>
  </div>

  <!-- scripts-->
  <script src="./assets/map.js"></script>
  <script src="./assets/dashboard.js"></script>
  <script>
    Vue.config.ignoredElements = [/as-\w+/];
    const vm = new Vue({
      el: '#app',
      data: {
        companiesCount: 0,
        companiesData: null,
        clusters: null,
        selectedCluster: null,
        selectedCompany: null,
        companiesProperties: ['cartodb_id', 'name', 'twitter', 'location', 'founded_year', 'summary'],
        twitterText: `
          Tweet about this page
        `,
        colors: [{
          'color': '#fabc82',
          'size': '1'
        }, {
          'color': '#f59280',
          'size': '2'
        }, {
          'color': '#dc6f8e',
          'size': '3'
        }, {
          'color': '#ab5b9e',
          'size': '4'
        }, {
          'color': '#5c53a5',
          'size': '5+'
        }]
      },
      watch: {
        selectedCompany: function(data, oldData){
          if (data == null) {
            this.selectedCluster = null;
          } 
          else if ( data != oldData) {
            const THRESHOLD = 0.2;
            const dataPoint = turf.point(data.coordinates);
            this.clusters.forEach(element => {
              element['distance'] = turf.distance(
                dataPoint, 
                turf.point(element.getRenderedCentroid()),
                { units: 'degrees' }
              );  
            });

            const candidates = this.clusters.sort(function (previous, next) {
              if (previous.distance < next.distance) {
                return -1
              } else {
                return 1
              }
            });

            this.selectedCluster = candidates[0];
          }
        },
        selectedCluster: function(newCluster, oldCluster){
          const DELAY = 200;
          if (oldCluster) {
            oldCluster.width.reset(DELAY);
            oldCluster.color.reset(DELAY);
            oldCluster.strokeColor.reset(DELAY);
          }
          if (newCluster){
            newCluster.color.blendTo('opacity(#00D2FF,1)',DELAY);
            newCluster.strokeColor.blendTo('opacity(#00D2FF,1)',DELAY);
          }
        }
      },
      computed: {
        twitterLink: function () {
          return `https://twitter.com/intent/tweet?text=` +
            encodeURIComponent(this.twitterText.trim());
        }
      },
      methods: {
        isSelected: function (data) {
          return false;
        }
      }
    });

    document
      .querySelector('as-responsive-content')
      .addEventListener('ready', function () {
        let data = loadMap();
        loadDashboard(vm, data);
      });
  </script>

</body>

</html>