.js-about--hidden{
    display: none;
}

.companies a {
    text-decoration: none;
    color: var(--as--color--secondary);
}

#controls li {
float:left;
margin: 0;
border-style: solid; 
color:white;
min-width:2em;
text-align: center;
font-size:0.7em;
}

#controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.point-mark {
    padding: 4px;
    align-self: center;
    border-radius: 0%;
    margin-right: 0px;
    box-sizing: border-box;
}

#controls .legend {
    color: white;
}
#controls .legend span{
    min-width: 25px;
    width: 25px;
    height: 25px;

    font-size: 0.6em;
    
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    padding: 6px 0 0 0;
}

/* Temp */
#js-zoom {
    position: absolute;
    bottom: 0;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
}
